body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* If the client media is a full size device */
@media (min-width: 768px) {
    /* make the drop down list open on hover */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

/* Center the footer */
.foot {
    text-align: center;
}

/* Align login partial view on nav bar */
.login {
    display: inline-block;
    float: none;
}

/* Align shopping cart on nav bar*/
.shoppingCart {
    float: right;
    color:white;
    margin:50px;
}